    /* Define your dark mode styles here */
        body.dark-mode {
            background-color: #1a1a1a;
            color: #ffffff;
        }

        /* Style for sticky footer */
        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding: 10px;
        }